@import "../../../styles/globals.scss";

.content {
	width: 95%;
	max-width: 60rem;
	margin: 2rem auto;
	font-size: 1.2rem;
	line-height: 2rem;
	background-color: $third-color;
	border-radius: 8px;
	padding: 2rem;

	p {
		color: $primary-color;
	}

	img {
		max-width: 90%;
	}

	.image {
		margin: 0.5rem auto;
		width: 100%;
		max-width: 600px;
	}
}

@media (min-width: 768px) {
	.content {
		padding: 2rem;
	}
}
